doctype
html
  head
    meta(charset="UTF-8")
    link(rel="stylesheet", href="resources/twitter-bootstrap/3.2.0/css/bootstrap.min.css")
    link(rel="stylesheet", href="resources/app.css")
  body.bg
    .navbar.navbar-inverse.navbar-static-top
      ul.nav.navbar-nav.pull-right.middle-nav
        // ko if:(page() != 'help')
        li
          .btn.btn-default(data-bind="click: page.bind(null,'help')"
            data-toggle="tooltip" 
            data-placement="bottom" 
            title="要导出数据，请点击旁边的扳手，点击“获得结果(cvs)”按钮")
            i.glyphicon.glyphicon-question-sign() 
            |  
        // ko if:(page() != 'setting')
        li
          .btn.btn-default(data-bind="click: page.bind(null,'setting')")
            i.glyphicon.glyphicon-wrench
            |  
        // /ko
        // ko if:(page() != 'lottory')
        li
          .btn.btn-default(data-bind="click: page.bind(null,'lottory')")
            i.glyphicon.glyphicon-ok
            |  
        // /ko
        // /ko
        // /ko
    // ko if:(page() == 'help' )
    .container
      h1 帮助
      p
        ul(style="color:white;list-style-type:binary;")
          li 在设置页点击 编辑人员名单 ，输入待抽奖人员名单（按行分隔），再点一下以保存。
          li 在设置页点击 编辑奖项 ，编辑奖项，完成后点击保存以保存。
          li 每个奖项设置项依次为 名称，每次抽取数，总数，总数可为空，表示数目无限（方便随时加抽）
          li 设置保存完成后刷新页面，开始抽奖。点击页面中部以开始或暂停。
          li 一个奖项抽取完成后，点击下一个奖项继续。
          li 中途刷新页面并不会导致抽奖结果丢失。
          li 全部抽取完成后，点击右上的扳手进入设置页面。点击 获得结果 以输出结果。
          li 一次抽奖结束后，想要进行其他的抽奖活动，进入设置页面，点击 重置设置，再进行其他活动。
          li 恢复数据可根据导出抽奖日志进行。
        .btn.btn-default(data-bind="click: page.bind(null,'setting')")
          i.glyphicon.glyphicon-ok
          |  我已看懂
    // /ko 
    // ko if:(page() == 'lottory')
    .container(data-bind="click : toggleRunning")
      h1(data-bind="text : goods_description() + current_stage().status()")
      p(data-bind="text: '(已抽取' + picked_name() + '/' + total_name + ')'")
      .wrapper(data-bind="{\
                            attr : {\
                              class : wrapper_Class\
                            },\
                            visible : !edit_name_list()\
                          }")
        // ko foreach : current_res
        .name(data-bind="text : text")
        // /ko
    .navbar.navbar-inverse.navbar-fixed-bottom(data-bind="visible : !isRunning ()")
      .container.middle-nav
        button.btn.btn-default.left(data-bind="{\
                            click   : prev_stage,\
                            visible : has_prev_stage\
                          }")
          i.glyphicon.glyphicon-chevron-left
          | 前一个奖项
        button.btn.btn-default.pull-right(data-bind="{\
                            click   : next_stage,\
                            visible : has_next_stage\
                          }")
          i.glyphicon.glyphicon-chevron-right
          | 后一个奖项
        
    // /ko
    // ko if:(page() == 'setting')
    .container
      h1 设置
      .row
        .col-sm-12
          button.btn.btn-default(data-bind="click  : exports_res")
            | 获得结果(json)
          button.btn.btn-default(data-bind="click  : exports_res.bind(null,'cvs')")
            | 获得结果(cvs)
          button.btn.btn-default(data-bind="click  : exports_history")
            | 获得抽奖日志
          button.btn.btn-default(data-bind="click  : reset")
            | 重置设置
      .row
        .col-sm-12
          h2 编辑人员名单
          .edit_name_list
            textarea.input_names(placeholder="粘贴入人员名单",
                     style="width:1000px;",
                     data-bind="value : names")
      .row
        .col-sm-12
          h2 编辑奖项
          table.table
            tbody(data-bind="foreach: goods")
              tr
                td
                  | 奖品名
                  input(type="text",data-bind="value:name",placeholder="奖品名")
                td
                  | 每次抽取
                  input(type="text",data-bind="value:peer",placeholder="每次抽取")
                td
                  | 总数（为空则是无限制）
                  input(type="text",data-bind="value:total",placeholder="总数（为空则是无限制）")
                td
                  .btn.btn-default(data-bind="click: $parent.goods.remove.bind($parent.goods,$data)")
                    i.glyphicon.glyphicon-remove
          .btn.btn-default(data-bind="click:function(){ goods.push({ name : '', peer : 10, total : ''})}")
            | 添加奖项
          |  
          .btn.btn-default(data-bind="click:goods.save")
            | 保存
    // /ko
    script.
      var require = {
        paths: {
          _      : 'libs/underscore-min',
          jquery : 'libs/jquery-1.7.1.min',
          ko     : 'libs/knockout-3.1.0'
        },
        deps : ['app.js']
      };
    script(src="resources/jquery.js")
    script(src="resources/twitter-bootstrap/3.2.0/js/bootstrap.js")
    script(type="text/javascript", src="libs/require.js").
    script.
      document.write('<script src="http://' + (location.host || 'localhost').split(':')[0] + ':35729/livereload.js?snipver=1"></' + 'script>');

      +function(){
        $('[data-toggle="tooltip"]').tooltip();
      }()
